<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<script>
    window.__PRELOADED_STATE__ = <%-JSON.stringify(state)%>
</script>
<div id="root"></div>
<script src="assets/js/main.js"></script>
</body>
</html>